<%@ Master Language="AVR" AutoEventWireup="false" CodeFile="MasterPage.master.vr" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Default master page</title>
    <link href="Assets/css/main.css" rel="stylesheet" type="text/css" />
    <asp:contentplaceholder id="HeadContentPlaceHolder" runat="server">
    </asp:contentplaceholder>

    <style>
    .wrapper {        
        font-size: 1.6rem;
        padding: 3rem;

        & h1 {
            font-size: 1.6rem;
        }

        & .endpoint {
            font-size: 1.2rem;
            margin-inline-start: 2rem;

        }

        & div:not(:empty) {
            margin-bottom: 1rem;
        }
    }

    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:contentplaceholder id="MainContentPlaceHolder" runat="server">
        </asp:contentplaceholder>
    </div>
    </form>
</body>
<asp:contentplaceholder id="EndOfPageContentPlaceHolder" runat="server">
</asp:contentplaceholder>
</html>
