body
{
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 90%;
}

div#mainContent 
{
    border: 1px blue solid;
}

/*
------------------
HTML tag selectors
------------------
// Would apply to every body tag (there is always only one of those)
body {}

// Would apply to every input tag.
input {} 

// Would apply to every table tag.
table {}

------------
Id selectors
------------
Note: Element IDs should always be unique, but HTML doesn't enforce that
rule. You should try to enforce it by convention.

// Would select any element with an ID of "mainContent".
#mainContent {}

---------------
Class selectors
---------------
Note: Element IDs should always be unique, but HTML doesn't enforce that
rule. You should try to enforce it by convention.

// Would select any element with a class of "smallText".
.smallText {}

Now, combine them... 

--------------------
HTML tag/ID selector
--------------------
// This is an HTML tag selector qualified with an ID selector. It would 
// select any DIV tag with an ID of "mainContent." 
div#mainContent {}

-----------------------
HTML tag/Class selector
-----------------------
// This is an HTML tag selector qualified with a class selector. It would 
// select any DIV tag with a class of "mainContent." 
div.smallText {}
*/